* {
    margin: 0;
    padding: 0;
  }
  
  
  @media (max-width: 75em) {
      html {
        font-size: 60%;
      }
    }
  
  



    .digitalArt{
        padding: 35px;
        background: cadetblue;
        }

.digitalArt{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3px;
    width: 100%;
    margin-bottom: 2rem;
    padding: 35px;
}

