* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(/StarToursAPI/PhotoRefs/GalaxyBackground.jpg);
}

.header{
    display:flex;
    justify-content: center;
    padding: 50px;
}

.header{
    font-family: 'Robo' , sans-serif;
    color: yellow;
    font-size: 80px;
}

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

button{
    font-size: 30px;
    color: rgb(223, 237, 238);
    background-color: rgb(63, 58, 87);
    border-radius: 4px;
}

button:hover{
    background-color: rgb(178, 175, 209);
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

figure img {
    max-height: 16rem;
    padding: 8px;
}

figcaption{
    color: yellow;
    background-color: rgb(66, 0, 189);
    text-align: center;
    position: relative;
    top: -30px;
    width: 184px;
}

