:root {
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

body { 
    background-image: url("/StarToursAPI/PhotoRefs/GalaxyBackground.jpg")
}

section{
    background-image: url("/StarToursAPI/PhotoRefs/GalaxyBackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Roboto' , sans-serif;
    font-size: 80px;
    color: yellow;
    text-align: center;
    padding: 100px;
}


.deathstar {
    animation-duration: 45s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: -100%;
      width: 100%;
    }
  }

  .deathstar {
      float: none;
      z-index: 10;
  }

  footer {
      background-image: url("/StarToursAPI/PhotoRefs/GalaxyBackground.jpg");
  }